body
{
    margin: 0;
    background-color: rgb(239, 239, 239);
}

table
{
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    background-color: rgb(218, 218, 218);
}

.header
{
    padding: 1px;
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: rgb(0, 87, 162);
}

.content
{
    padding: 5px;
}

.loan-button
{
    background-color: darkolivegreen;
    color: white;
}

.bank-button
{
    background-color: goldenrod;
    color: white;
}

.work-button
{
    background-color: rgb(146, 109, 15);
    color: white;
}

.buy-button
{
    background-color: darkblue;
    color: white;
}

.row-title
{
    text-align: center;
    padding-top: 10px;
}

.shop
{
    margin-left: auto;
    margin-right: auto;
}

.table-content
{
    padding: 25px;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

#rounded
{
    border-radius: 25px;
    background-color: rgb(100, 183, 255);
}
